.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	background: #3085a3;
	text-align: right;
	cursor: pointer;
	font-size: 0!important;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	float: bottom;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 2rem;
	text-align: center;
}
.grid .xx-index-hotcover{
	display: none;
	background-position: 16% -0.52vw;
	background: rgba(0,0,0,.6);
}
.grid .xx-index-hotcover:hover{
	display: block;
	opacity: 1;
}

/* Individual effects */



/*-----------------*/
/***** Selena *****/
/*-----------------*/

figure.effect-selena {
	 background: #b8cee2;
	text-align: center;
}

figure.effect-selena img {
    width: 100%;
	opacity: 0.95;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-selena:hover img {
	-webkit-transform: scale3d(0.95,0.95,1);
	transform: scale3d(0.95,0.95,1);
}

figure.effect-selena h3 {
	font-size: 2.2rem;
	text-transform: uppercase;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	color: #fff;
    width: 90%;
    margin: 70% auto 0 auto;
	// font-weight: bold;
	text-align: center;
}

figure.effect-selena p {
    width: 85%;
    left: 50%;
    text-align: center;
	opacity: 1;
	-webkit-transform: translateX(-50%) perspective(900px) rotate3d(1,0,0,90deg);
	transform: translateX(-50%) perspective(900px) rotate3d(1,0,0,90deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	position:absolute;
	top: 50%;
    margin-top: -50px;
    line-height: 1.5;
    -webkit-transition: opacity 0.35s, -webkit-transform 0s;
	transition: opacity 0.35s, transform 0s;
}
figure.effect-selena p.product-description {
	top: 45%;
	padding: 0 15%;
	font-size: 2rem;
	line-height: 1.5;
	text-align: left;
}

figure.effect-selena:hover h3 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	display: none;
}

figure.effect-selena:hover p {
	opacity: 1;
	-webkit-transform:translateX(-50%) perspective(900px) rotate3d(1,0,0,0);
	transform:translateX(-50%) perspective(900px) rotate3d(1,0,0,0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-selena:hover figcaption{
	-webkit-transform: scale3d(0.95,0.95,1);
	transform: scale3d(0.95,0.95,1);
	background:rgba(0,0,0,0.6);
}



